<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">TODOs</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <ng-template [ngIf]="!isAuthenticated()">
        <li><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ng-template>
      <ng-template [ngIf]="isAuthenticated()">
        <li><a style="cursor: pointer" (click)="onLogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ng-template>
    </ul>
  </div>
</nav>