<div class="container-fluid">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title"
              ngModel name="title" #title="ngModel" required>
            <span *ngIf="!title.valid && title.touched">Title is required</span>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" rows="5" id="description"
              ngModel name="description" #desc="ngModel" required></textarea>
            <span *ngIf="!desc.valid && desc.touched">Description is required</span>
          </div>
      </div>
    </div>
    
    <br>

    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>