<div class="alert alert-danger" *ngIf="failure">
  Something went wrong, please try again later.
</div>
 
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSignUp(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" class="form-control" ngModel #uname="ngModel" required email>
          <span *ngIf="!uname.valid && uname.touched" id="emailErrors">
            <span *ngIf="uname.errors['required']">Email is required</span>
            <span *ngIf="uname.errors['email'] && !uname.errors['required']">Email is invalid</span>
          </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" ngModel #pass="ngModel" required minlength="6">
          <span *ngIf="!pass.valid && pass.touched" id="pwdErrors">
            <span *ngIf="pass.errors['required']">Password is required</span>
            <span *ngIf="pass.errors['minlength'] && !pass.errors['required']">Password must be 6 characters minimum</span>
          </span>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Sign Up</button>
      </form>
  </div>
</div>