<div class="alert alert-danger" *ngIf="failure">
  Something went wrong, please try again later.
</div>
 
<div class="row">
  <div class="col-xs-12">
    <div *ngIf="emailSent; else emailNotSent" id="emailSent">
      <div class="well">
        <h4>Email sent!</h4>
        <p>Please check your inbox for the email and follow the instructions in it. Log back in once the email is verified.</p>
      </div>
    </div>

    <ng-template #emailNotSent>
      <div class="well" id="emailNotSent">
        <h4>Almost done!</h4>
        <p>Please verify your email to complete the registration process</p>
      </div>
      <button type="button" class="btn btn-primary pull-right" (click)="sendVerificationEmail()">
        <span class="glyphicon glyphicon-send"></span> Send verification email
      </button>
    </ng-template>
  </div>
</div>