<div class="row">
  <div class="col-xs-5">
    <button type="button" class="btn btn-primary" routerLink="/create">Create</button>
  </div>
  <div class="col-xs-7">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="keyword" (ngModelChange)="onKeywordChange($event)">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-12">
      <div class="panel-group">
        <div class="panel panel-default" *ngFor="let todo of filteredTodos">
          <div class="panel-heading">{{ todo.title }}</div>
          <div class="panel-body">
            {{ todo.description }}
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(todo)">Delete</button>
              <button type="button" class="btn btn-sm btn-primary" [routerLink]="[todo.id, 'edit']">Edit</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>