<div class="alert alert-danger" *ngIf="failure">
  Invalid username or password
</div>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSignIn()" [formGroup]="form">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            formControlName="email"
            id="email"
            class="form-control"
            required
            email>
          <span *ngIf="!email.valid && email.touched" id="emailErrors">
            <span *ngIf="email.errors['required']">Email is required</span>
            <span *ngIf="email.errors['email'] && !email.errors['required']">Email is invalid</span>
          </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            id="password"
            class="form-control"
            required>
          <span id="pwdErrors">
            <span *ngIf="!password.valid && password.touched">Password is required</span>
          </span>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Sign In</button>
      </form>
  </div>
</div>